<!DOCTYPE html>

<html>
    <!--link to SignUp.css stylesheet-->
    <head>
        <title>Gong Cha - Menu</title>
        <link rel="stylesheet" href="../static/Menu.css">
    </head>

    <body>
        <!--Gong Cha Logo above navbar-->
        <div class="gonchaLogo">
            <a href="home.html"><img class="gongchaLogoImg" src="../static/images/gongchaLogo.jpg" alt="Gong Cha Logo"></a>
        </div>

        <!--navbar-->
        <div class="navbar">
            <ul class="navbarList">
                <li class="navbarItem"><a href="default.asp">Home</a></li>
                <li class="navbarItem"><a href="news.asp">News</a></li>
                <li class="navbarItem"><a href="contact.asp">Contact</a></li>
                <li class="navbarItem"><a href="about.asp">About</a></li>
            </ul>
        </div>

        <!--main content-->
        <div class="wrapper">
            <div class="menuContent">
                <!--GREEN TEA-->
                <div class="menuItem">
                    <!--drink item + name-->
                    <img class="menuItemImage" src="../static/images/greenTea.jpg" alt="Green Tea">

                    <div class="menuDetails">
                        <h3 class="menuItemName">Green Tea</h3>
                        <form action="/action_page.php">
                            <!--drink size-->
                            <p>Drink size:</p>

                            <input type="radio" id="medium" name="drink_size" value="Medium">
                            <label for="html">Medium</label>

                            <input type="radio" id="large" name="drink_size" value="Large">
                            <label for="html">Large</label><br>

                            <!--milk/no milk-->
                            <p>Milk/no milk:</p>
  
                            <input type="radio" id="milk" name="with_milk" value="Milk">
                            <label for="html">Milk?</label><br>

                            <br>

                            <input type="button" value="Add to cart">
                        </form>
                    </div>
                </div>

                <!--BLACK TEA-->
                <div class="menuItem">
                    <!--drink item + name-->
                    <img class="menuItemImage" src="../static/images/blackTea.jpg" alt="Black Tea">

                    <div class="menuDetails">
                        <h3 class="menuItemName">Black Tea</h3>
                        <form action="/action_page.php">
                            <!--drink size-->
                            <p>Drink size:</p>

                            <input type="radio" id="medium" name="drink_size" value="Medium">
                            <label for="html">Medium</label>

                            <input type="radio" id="large" name="drink_size" value="Large">
                            <label for="html">Large</label><br>

                            <!--milk/no milk-->
                            <p>Milk/no milk:</p>
  
                            <input type="radio" id="milk" name="with_milk" value="Milk">
                            <label for="html">Milk?</label><br>

                            <br>

                            <input type="button" value="Add to cart">
                        </form>
                    </div>
                </div>

                <!--THAI TEA-->
                <div class="menuItem">
                    <!--drink item + name-->
                    <img class="menuItemImage" src="../static/images/thaiTea.jpg" alt="Thai Tea">

                    <div class="menuDetails">
                        <h3 class="menuItemName">Thai Tea</h3>
                        <form action="/action_page.php">
                            <!--drink size-->
                            <p>Drink size:</p>

                            <input type="radio" id="medium" name="drink_size" value="Medium">
                            <label for="html">Medium</label>

                            <input type="radio" id="large" name="drink_size" value="Large">
                            <label for="html">Large</label><br>

                            <!--milk/no milk-->
                            <p>Milk/no milk:</p>
  
                            <input type="radio" id="milk" name="with_milk" value="Milk">
                            <label for="html">Milk?</label><br>

                            <br>

                            <input type="button" value="Add to cart">
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </body>
</html>