<!DOCTYPE html>

<html>
    <!--link to SignUp.css stylesheet-->
    <head>
        <title>Gong Cha - Sign Up</title>
        <link rel="stylesheet" href="../static/SignUp.css">
    </head>

    <body>
        <!--Gong Cha Logo above navbar-->
        <div class="gonchaLogo">
            <a href="home.html"><img class="gongchaLogoImg" src="../static/images/gongchaLogo.jpg" alt="Gong Cha Logo"></a>
        </div>

        <!--navbar-->
        <div class="navbar">
            <ul class="navbarList">
                <li class="navbarItem"><a href="default.asp">Home</a></li>
                <li class="navbarItem"><a href="news.asp">News</a></li>
                <li class="navbarItem"><a href="contact.asp">Contact</a></li>
                <li class="navbarItem"><a href="about.asp">About</a></li>
            </ul>
        </div>

        <!--main content-->
        <div class="wrapper">
            <div class="signUpContent">
                <h2>Sign up!</h2>

                <form action="/action_page.php">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname" value="John" size="70"><br><br>

                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname" value="Doe" size="70"><br><br>

                    <label for="lname">Username:</label><br>
                    <input type="text" id="uname" name="uname" value="JohnDoe101" size="70"><br><br>

                    <label for="lname">E-mail:</label><br>
                    <input type="email" id="email" name="email" value="john@doe.com" size="70"><br><br>

                    <label for="lname">Password:</label><br>
                    <input type="password" id="lname" name="lname" value="password" size="70"><br><br>
                    
                    <br>

                    <input class="submit" type="submit" value="Submit">
                </form> 
            </div>
        </div>
    </body>
</html>